

<div class="card text-bg-secondary mb-3" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"> <%= @question%> </p>
  </div>
</div>

<div class="card text-bg-light mb-3" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text"> <%= @answer%> </p>
    <%= link_to "Stupid Coaching", ask_path %>
  </div>
</div>
